.login {
	height: 100vh;
	width: 100vw;
	background-color: #f0f2f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginWrapper {
	height: 70%;
	width: 70%;
	display: flex;
}

.loginLeft,
.loginRight {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.loginLeft {
	position: relative;
}

.loginLogo {
	font-size: 50px;
	font-weight: 800;
	color: #1775ee;
	margin-bottom: 10px;
	z-index: 1;
}

.loginMst {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 35px;
	position: absolute;
	top: 220px;
}

.loginDesc {
	font-size: 24px;
}

.loginBoxRight {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #fff;
	height: 400px;
	padding: 20px;
	justify-content: space-between;
}

.loginInput {
	height: 50px;
	padding-left: 20px;
	border-radius: 10px;
	font-size: 18px;
	border: 1px solid gray;
}

.loginButton {
	height: 50px;
	border: none;
	background-color: #1775ee;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.loginForgot {
	text-align: center;
	color: #1775ee;
}

.loginRegisterButton {
	width: 100%;
	align-self: center;
	height: 50px;
	border: none;
	background-color: green;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
